# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# generated
virtdb_fdw--[0-9].[0-9].[0-9].sql

# protocol buffer generated
*.pb.cc
*.pb.h

# gtest build
build-aux
config.log
config.status
.deps
.libs
libtool
.dirstamp
gtest-config
src/gtest-1.7.0/Makefile
test/*_test
autom4te.cache

# Atom.io symbol info
tags
