[submodule "src/proto"]
	path = src/proto
	url = https://github.com/starschema/virtdb-proto.git
        branch = master
[submodule "src/cppzmq"]
	path = src/cppzmq
	url = https://github.com/starschema/cppzmq.git
        branch = master
[submodule "src/gtest"]
	path = src/gtest
	url = https://github.com/starschema/virtdb-gtest.git
	branch = gtest-1.7.0
[submodule "src/common"]
	path = src/common
	url = https://github.com/starschema/virtdb-common.git
	branch = master
